
<table class="table table-bordered">
  <% @oridposts.each do |oridpost| %>
  <tr>
    <td>
      <%= render_oridpost_status(oridpost) %>
      <%= render_oridpost_diaplay_status(oridpost) %>
      <%= link_to(oridpost.title, oridpost_path(oridpost)) %>
    </td>
    <td>
      <%= oridpost.user.email %>
    </td>
    <td>
      <%= link_to("edit", edit_admin_oridpost_path(oridpost), :class => "btn btn-xs btn-info") %> |
      <%= link_to("Destroy", admin_oridpost_path(oridpost), :method => :delete, :class => "btn btn-xs btn-danger", :data => {:confirm => "Are you sure?"}) %> |
      <% if oridpost.is_hidden %>
        <%= link_to("Publish", publish_admin_oridpost_path(oridpost) , :method => :post, :class => "btn btn-xs btn-success") %>
      <% else %>
        <%= link_to("Hide", hide_admin_oridpost_path(oridpost), :method => :post, :class => "btn btn-xs btn-warning") %>
      <% end %> |
      <% if oridpost.is_display %>
        <%= link_to("conceal", conceal_admin_oridpost_path(oridpost) , :method => :post, :class => "btn btn-xs btn-danger") %>
      <% else %>
        <%= link_to("display", display_admin_oridpost_path(oridpost), :method => :post, :class => "btn btn-xs btn-info") %>
      <% end %>
    </td>
    <td>
      <%= oridpost.created_at %>
    </td>
  </tr>
  <% end %>
</table>
