<div class="pull-right">
  <%= link_to("Add a oridpost", new_account_oridpost_path, :class => "btn btn-success" ) %>
</div>

<table class="table table-bordered">
  <% @oridposts.each do |oridpost| %>
  <tr>
    <td>
      <%= render_oridpost_status(oridpost) %>
      <%= link_to(oridpost.title, account_oridpost_path(oridpost)) %>
    </td>
    <td>
      <%= oridpost.user.email %>
    </td>
    <td>
      <% if current_user && current_user == oridpost.user %>
        <%= link_to("edit", edit_account_oridpost_path(oridpost), :class => "btn btn-xs btn-info") %> |
        <%= link_to("Destroy", account_oridpost_path(oridpost), :method => :delete, :class => "btn btn-xs btn-danger", :data => {:confirm => "Are you sure?"}) %> |
        <% if oridpost.is_hidden %>
          <%= link_to("Publish", publish_account_oridpost_path(oridpost) , :method => :post, :class => "btn btn-xs btn-success") %>
        <% else %>
          <%= link_to("Hide", hide_account_oridpost_path(oridpost), :method => :post, :class => "btn btn-xs btn-warning") %>
        <% end %>
      <% end %>
    </td>
    <td>
      <%= oridpost.created_at %>
    </td>
  </tr>
  <% end %>
</table>
