<h1> edit a oridpost </h1>

<%= simple_form_for @oridpost do |f| %>

<%= f.input :title %>
<%= f.input :objective %>
<%= f.input :reflective %>
<%= f.input :interpretive %>
<%= f.input :decision %>

<%= f.submit "Submit" %>
<% end %>
