<h1> <%= @post_orid.title %> </h1>

<p>
  <%= simple_format(@post_orid.objective) %>
</p>

<p>
  <%= simple_format(@post_orid.reflective) %>
</p>

<p>
  <%= simple_format(@post_orid.interpretive) %>
</p>

<p>
  <%= simple_format(@post_orid.decision) %>
</p>
